*.iml
.gradle
/local.properties
/.idea/
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
# Project specific ignores
*.txt
*.zip
# Kotlin specific
.kotlin
# Android Studio
/app/build
